{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}">
{% endblock %}



{% block body %}

<main class="d-felx flex-column align-items-center justify-content-center flex-grow-1">
    <section class="login d-flex flex-column p-5">
        <p class="form_title">Se connecter</p>
        <hr>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
            
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Nom utilisateur :</label>
              <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Mot de passe</label>
              <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

           <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="btn btn-primary">Se Connecter</button>
        </form>
        <hr>
        <div>
            <p>Pas encore inscrit ?</p>
            <a href="/register" class="btn btn-primary">Crée un compte</a>
        </div>
    </section>
</main>

{% endblock %}